.editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.editor-container-wrapper {
  width: 50%;
}

.markdown-body-wrapper {
  width: 50%;
}